.App {
    text-align: center;
    word-break:keep-all;
    background-image: url('./carbonFiber.jpg');
    ;
}

.menu {
    background-color: rgba(66, 133, 244, 1);
}

.card {
    background-color: "#ffffcc";
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

.footer {
    justify-content: space-between;
}

.content {
    padding:20px;
    width: auto;
    position:relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.75);
}

.quote {
    font-family: 'Permanent Marker', cursive;
    color: white;
}

.text {
    font-family: 'Roboto Slab', serif;
}

.title {
    font-family: 'Roboto Slab', serif;
}